* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* flex => list */
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Trục chính default là chiều ngang */
/* Justify-content: trục chính */
/* align-items: trục phụ */
header span {
  font-size: 30px;
  font-weight: 800;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 26px;
  transition: 0.5s;
}
header a.active,
header a:hover {
  color: #e62b4a;
}

/* BANNER */
.banner {
  background-image: url(./img/home_slider.jpg);
  height: 90vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* chuyển trục chính từ ngang sang dọc */
  justify-content: center;
  align-items: center;
  color: white;
}
.banner__container p {
  font-size: 25px;
}
.banner__container h2 {
  font-size: 75px;
  line-height: 90px;
  text-align: center;
}
.banner__container button {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #e62b4a;
  color: white;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: all 0.5s;
}
.banner__container button:hover {
  background-color: #af2239;
}
.banner__container i {
  margin-top: 50px;
  font-size: 30px;
  animation: animate_arrow 1s linear 0s infinite;
}
/* CAROUSEL */
.carousel {
  background: #000;
  padding: 80px 0;
}
.carousel__item {
  padding: 0 20px;
}
.carousel__item i {
  font-size: 50px;
  color: #888888;
}
.carousel__item p {
  font-size: 14px;
  text-align: center;
  color: #888888;
}
.carousel__title {
  text-align: center;
}
.carousel__title p:first-of-type {
  font-size: 14px;
  color: #e62b4a;
  font-weight: 300;
}
.carousel__title h2 {
  font-size: 50px;
  font-weight: 400;
  color: white;
}
.carousel__title p:last-of-type {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
}
.item__container {
  background: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item__container::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  background: #e62b4a;
  height: 0%;
  transition: 0.3s;
}
.item__container:hover::before {
  height: 100%;
}
.slick-dots li button:before {
  color: white !important;
  font-size: 16px !important;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a !important;
  font-size: 16px;
}
@keyframes animate_arrow {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}
/* BLOG */
.blog {
  padding: 100px 0;
  background: color #f3f3f3;
}
.blog__title {
  text-align: center;
}
.blog__title p:first-of-type {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}
.blog__title h2 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}
.blog__title p:last-of-type {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 75%;
  margin: 50px auto 0;
}
.blog__list img {
  width: 100%;
  height: 100%;
  display: block;
  filter: grayscale(50%) contrast(50%);
}
.blog__item {
  position: relative;
}
.blog__overlay {
  background: rgba(230, 43, 74, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.blog__search {
  position: absolute;
  top: 50px;
  transition: 0.3s;
  right: 20px;
  width: 50px;
  height: 50px;
  background: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__desc {
  position: absolute;
  left: 20px;
  bottom: 0px;
  transition: 0.3s;
  color: white;
}
.blog__desc h2 {
  color: #d0c7c8;
}
.blog__desc p {
  font-weight: 700;
}
.blog__item:hover .blog__overlay {
  opacity: 1;
}
.blog__item:hover .blog__search {
  top: 20px;
}
.blog__item:hover .blog__desc {
  bottom: 20px;
}
.blog__item.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 3;
}
.blog__item.item-10 {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
/* NUMBER */
.number {
  background-color: #000;
  padding: 80px 0;
  color: white;
  text-align: center;
}
.number__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70%;
}
.number__item {
  width: 25%;
}
.number__count {
  font-size: 60px;
  font-weight: 400;
}
.number__item p {
  font-size: 20px;
  color: #888888;
}
/* EXPERIENCE */
.experience {
  background-image: url(./img/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.experience__title {
  text-align: center;
}
.experience__title p:first-of-type {
  font-size: 14px;
  color: #e62b4a;
  font-weight: 300;
}
.experience__title h2 {
  font-size: 50px;
  font-weight: 400;
  color: white;
}
.experience__title p:last-of-type {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}
.experience__content {
  width: 75%;
  margin: 30px auto 0;
}
.experience__content video {
  width: 100%;
  object-fit: cover;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  outline: none;
}
/* CONTACT */
.contact {
  padding: 100px 0;
  text-align: center;
}
.contact__title h2 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}
.contact__title p {
  color: #888888;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}
.contact__content {
  width: 70%;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
}
.contact__map {
  width: 60%;
}
.contact__map iframe {
  width: 100%;
}
.contact__form {
  width: 40%;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.contact__form input,
.contact__form textarea {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}
.btnMei {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
/* FOOTER */
footer {
  background-color: #000;
}
.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.footer__content p {
  font-size: 14px;
  color: white;
}
.footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
.footer__content a:hover {
  background-color: #e62b4a;
}
/* BACK TO STOP */
.backToTop {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0,0,0,0.25);
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}